* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 1;
  visibility: visible;
  filter: blur(0);
  background-color: #202020;
  transition: all .3s;
  overflow: hidden;
}

body.app-loaded {
  overflow-y: auto;
}